/* debug */
/* debug */

/* common */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Montserrat", sans-serif;
  color: gray;
}
.text-dark {
  color: #272727;
}
.hover_bk:hover {
  color: #000000;
}

.container {
  width: 80vw;
  margin: 20px auto 10px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.layer {
  height: 100%;
  background-color: rgba(155, 151, 151, 0.397);
}

.rounded {
  border-radius: 10px;
}

.vl {
  display: inline-block;
  margin: 0 20px;
  vertical-align: middle;
  border-left: 1px solid grey;
  height: 80%;
}

/* header */
div.logo {
  height: 60px;
  line-height: 60px;
  overflow: hidden;
}
img.img-logo {
  height: 50px;
  vertical-align: middle;
}

div.ico {
  height: 60px;
  line-height: 60px;
  display: inline-block;
}
div.ico > a > i {
  font-size: 20px;
  margin: 0 8px;
  vertical-align: middle;
}

header > nav {
  margin-top: 20px;
}
.inline-list li {
  margin-right: 10px;
  display: inline-block;
  list-style: none;
  text-transform: uppercase;
}
.inline-list a,
.ico a {
  text-decoration: none;
  color: gray;
}

.banner {
  height: 70vh;
  margin-top: 20px;
  background-image: url(../img/banner.jpg);
  background-position: center;
  background-size: cover;
  color: white;
  position: relative;
}
.banner .banner-info {
  max-height: 40vh;
  max-width: 45vw;
  position: absolute;
  bottom: 10vh;
  left: 3vw;
  overflow: hidden;
}

/* main */
.title a {
  text-decoration: none;
}

main > aside {
  width: 25%;
  margin: 20px 0;
}
main > article {
  width: calc(50% - 40px);
  margin: 20px;
}

.img_main {
  height: 30vh;
  background-position: center;
  background-size: cover;
}
.col-left div.img_main {
  background-image: url(../img/img-1.jpg);
}
.col-right div.img_main {
  background-image: url(../img/img-3.jpg);
}
.col-center div.img_main {
  background-image: url(../img/banner-2.jpg);
}

.col {
  float: left;
}

.col-info {
  margin-top: 10px;
}
.col-info > h3 {
  font-size: 16px;
}
.col-info > p {
  margin-top: 10px;
}

/* footer */
footer {
  width: 80vw;
  margin: 40px auto;
  text-align: center;
  font-size: larger;
}
footer > span:after {
  content: "\2764";
  color: #ff0000;
}
